.card {
    position: relative;
    width: 454px!important;
    height: 281px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    margin: 0 13px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .ant-card-body {
    display: flex;
    padding: 5px!important;
  }
  
  .card__img {
    width: 183px;
    height: 270px;
    flex-shrink: 0;
  }
  
  .card__img img {
    width: 100%;
    height: 100%;
  }
  .card__content {
    padding: 10px 20px 0 20px;
  }
  .card__header {
    display: flex;
    justify-content: space-between;
  }
  
  .card__movie-title {
    font-size: 20px!important;
    line-height: 28px!important;
  }
  .card__release-date {
    display: block;
  }
  .ant-tag {
    margin-top: 7px;
  }
  .card__overview {
    display: block;
    margin-top: 7px;
    font-size: 12px;
  }

  @media (max-width: 480px) {
    .ant-card-body {
      display: block;
    }
    .card {
      min-width: auto;
      height: 245px;
      margin-bottom: 20px;
      width: 347px!important;
    }
  
    .card__img {
      width: 60px;
      height: 91px;
      top: 6px;
      left: 10px;
      position: absolute;
    }
  
    .card__content {
      padding: 4px 10px 0 10px;

    }

    .card__header,
    .card__genres,
    .card__release-date {
      margin-left: 73px;
    }
    .card__rate {
      right: 10px;
    }
    .card__overview {
      margin-top: 10px;
    }
    h4.ant-typography {
      line-height: 0.9;
    }
  }